@charset "utf-8";
/* CSS Document */

/* ==================================================
	공통사용
================================================== */
/* pagenation */
.pagenate {width:100%; clear:both; }
.pagenate {text-align:center; padding:30px auto 30px; background:#edeeee; height:100px;}
.pagenate .paging{ padding-top:30px;}
.pagenate li {display:inline-block;}
.pagenate li:first-child { margin-left:0px; }
.pagenate li a{display:inline-block; text-decoration:none; padding:0; width:30px; padding:0 5px; height:30px; line-height:30px; /*border:1px solid #c7c8cc;*/ box-sizing:border-box; vertical-align:middle;}
.pagenate li a:hover{color:#152637; text-decoration:none !important;}
.pagenate li a.board { text-indent:-9999em; margin-left:4px; border:1px solid #d9d9d9; border-radius:15px; }
.pagenate li a.board.first {background:#fff url('/img/ico_first.png') no-repeat center center; }
.pagenate li a.board.prev {margin-right:30px; background:#fff url('/img/ico_prev.png') no-repeat center center;}
.pagenate li a.board.next {margin-left:30px; background:#fff url('/img/ico_next.png') no-repeat center center; }
.pagenate li a.board.last {background:#fff url('/img/ico_last.png') no-repeat center center;}
.pagenate li a.current {color:#152637;  font-weight:bold; }

/* button */
.btnSet {position:relative; margin:20px 0; text-align:center; overflow:hidden;}
.btnSet .right {position:absolute; top:0; right:0;}
.btnSet .left {position:absolute; top:0; left:0;}
.btn {font-size:14px; text-decoration:none !important; white-space:nowrap; display:inline-block; vertical-align:baseline; position:relative; cursor:pointer; padding:4px 20px; min-width:64px; border:2px solid #333; color:#333 !important; margin:0 2px; text-align:center; font-weight:bold;}
.btnSet .btn:hover{background:#313234; color:#fff !important;  text-decoration:none !important;}
.btn.point{border:3px solid #579408 !important; color:#579408 !important;}
.btn.point:hover{background:#579408 !important;}
.big{font-size:16px !important; padding:10px 40px !important; border:3px solid #333;}


/* ==================================================
	board
================================================== */
.bbs{position:relative; width:100%; height:100%; overflow:hidden; min-width:320px; clear:both;}
.bbs a:hover{text-decoration:underline !important; color:#000;}

/* list */
.bbs .list{border-collapse:collapse; border-spacing:0; box-sizing:border-box;} 
.bbs .list thead{border-top:2px solid #333; border-bottom:1px solid #999;}
.bbs .list thead th{padding:15px 20px; font-size:13px; height:35px; line-height:14px; color:#333;}
.bbs .list td{text-align:center; padding:8px 10px; border-bottom:1px solid #d9d9d9;}
.bbs .list tbody tr:hover{background:#f6f6f6;} /*마우스오버 배경칼라지정*/

